{
	admin off
	auto_https off
}

http://admin.acmcyber.com:10000 {
	reverse_proxy 127.0.0.1:7000
}

http://blogpost1.acmcyber.com:10000 {
        reverse_proxy 127.0.0.1:7001
}

http://blogpost2.acmcyber.com:10000 {
        reverse_proxy 127.0.0.1:7002
}

http://blogpost3.acmcyber.com:10000 {
        reverse_proxy 127.0.0.1:7003
}
